.main-div{
    width: 100%;
    height: 100vh;
    background-color: #EEEEEE;
   
}
.child-div{
    padding: 20px;
    background-color: #011627;
    height: 100vh;
}
.image{
    margin-top: 10px;
    border: 2px solid gray;
    max-width: 1000px;
    max-height: 800px;
}